<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
     http://www.springframework.org/schema/beans
     http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
     http://www.springframework.org/schema/tx
     http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
     http://www.springframework.org/schema/aop
     http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">


    <bean name="storageProductAction"
          class="org.mission.ctcoms.web.action.storage.StorageProductAction"
          scope="prototype">
        <property name="storeProductService" ref="storeProductService"/>
    </bean>

    <bean name="loginAction"
          class="org.mission.ctcoms.web.action.storage.LoginAction"
          scope="request">
        <property name="loginService" ref="loginService"/>
        <property name="examService" ref="examService"/>
    </bean>

    <bean name="importAction" class="org.mission.ctcoms.web.action.storage.ImportAction"
          scope="request">
        <property name="iScoreService" ref="scoreService"/>
    </bean>

</beans>